{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'styles/styles.css' %} />
    <title>FurryFunnies</title>
  </head>
  <body>
    <div id="wrapper">
      <header>

        <a id="logo" href="{% url 'index' %}">
          <img id="logo-img" src="{% static 'images/logo.png' %}" alt="logo"/>
        </a>


        <nav>
            {% if author %}
                <div class="user">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                    <a href="{% url 'post_create' %}">New Post</a>
                    <a href="{% url 'author_details' %}">Author's Profile</a>
                </div>  
            {% else %}
                <div class="guest">
                    <a href="{% url 'author_create' %}">Create Author's Profile</a>
                </div>
            {% endif %}
        </nav>
      </header>
    
    <main>
        {% block page_content %}
        {%  endblock %}
    </main>
    
    </div>

    <footer>
      <p>&copy; 2024 FurryFunnies by SoftUni Team. All rights reserved.</p>
    </footer>
  </body>
</html>