{% extends 'base.html' %}
{% block page_content %}

        <section id="details">
          <div id="details-wrapper">
            <h2>Post Details</h2>
            <img
              id="details-img"
              src="{{ post.image_url }}"
              alt="{{ post.title }}"
            />

            <p id="details-title">{{ post.title}}</p>
            <div id="info-wrapper">
              <div id="details-description">
                <p>{{ post.content }}</p>
              </div>

              <div id="action-buttons">
                <a href="{% url 'post_edit' post.id %}" id="edit-btn">Edit</a>
                <a href="{% url 'post_delete' post.id %}" id="delete-btn">Delete</a>
              </div>
            </div>
          </div>
        </section>

{% endblock %}